.main .progress {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin-top: 1.5em;
}

.main .question {
    width: 100%;
    height: 8em;
}

.main .question .row {
    width: 35em;
    margin-left: auto;
    margin-right: auto;
}

.main .question .label {
    font-size: 1.5em;
}

.main .question .answer {
    margin-top: 2em;
    margin-left: 1em;
    font-size: 1.5em;
    width: 3em;
}

.main .stats {
    width: 100%;
    height: 6em;
}

.main .stats .statsRow {
    text-align: center;
    font-size: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
}

.main .wrongAnswers {
    font-size: 1.5em;
    margin: 1em 1em;
    width: 25em;
    min-height: 1em;
    max-height: 14em;
    overflow: scroll;
}

.wrongAnswers .wrong {
    float: left;
    width: 3em;
    margin-left: 1em;
    height: 1.5em;
    line-height: 1.5em;
    margin-top: 0.5em;
    text-align: left;
}

.actionBar .stopButton {
    display: block;
    text-align: center;
    height: 2em;
    font-size: 1.5em;
    line-height: 2em;
    width: 10em;
    border: 0.05em solid black;
    box-sizing: border-box;
    border-radius: 0.25em;
    margin-top: 0.65em;
    margin-left: 8.5em;
    background-color: rgba(234, 29, 213, 0.6);
    color: black;
    text-decoration: none;
}

.actionBar .stopButton:hover {
    background-color: rgba(245, 67, 217, 0.25);
    color: black;
    text-decoration: none;
}