.multiplicationTable {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
	gap: 1em;
	flex-flow: column;

	.gameProgress {
		display: block;
		font-size: 2em;
		font-weight: bold;
	}

	.question {
		font-size: 2em;
	}

	#answer {
		font-size: 2em;
		width: 2em;
	}
}