.answersTable {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

.answersTable thead {
	background-color: #70aeff;
	font-size: 1em;
	font-weight: bold;
}

.answersTable thead th {
	padding: 1em;
	border: 1px solid black;
}

.answersTable tbody {
	font-size: 1em;
}

.answersTable td {
	border: 1px solid black;
	padding: 1em;
}

.correctAnswer {
	background-color: #47FA4782;
}

.wrongAnswer {
	background-color: #ff7075;
}